annotated-types==0.6.0
anyio==4.2.0
click==8.1.7
colorama==0.4.6
fastapi==0.109.0
greenlet==3.0.3
h11==0.14.0
idna==3.6
Jinja2==3.1.3
MarkupSafe==2.1.5
OMM==1.0.1
omymodels==0.15.1
parsimonious==0.10.0
ply==3.11
psycopg2==2.9.9
py-models-parser==0.7.0
pydantic==1.10.14
pydantic_core==2.14.6
regex==2023.12.25
simple-ddl-parser==1.0.3
six==1.10.0
sniffio==1.3.0
SQLAlchemy==2.0.25
starlette==0.35.1
table-meta==0.1.5
typing_extensions==4.9.0
uvicorn==0.27.0.post1
